.statusChip {
    display: inline-flex !important;
    align-items: center !important;
    padding: 4px 12px !important;
    border-radius: 16px !important;
    font-size: 10px !important;
    background-color: #ffefd5 !important;
  }