
/* Header container- text, button, searchbar */
.headerContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
    align-items: center;
}

.headerText {
    flex: 1;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    display: flex;
    align-items: center;
}

.buttonContainer {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
}

.primaryButton {
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 22%;
    height: 35px;
}

.searchBar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 22%;
    height: 35px;
}

/* body container filters and table */
.bodyContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.dropdownContainer {
    display: flex;
    align-items: center;
    /* flex-grow: 1; */
    gap: 1rem;
}

.scrollableArea {
    max-height: 30rem;
    overflow-y: auto;
}

.listViewContainer{
    margin-top: 1.5rem;
}

.activeStatus {
    display: inline-block;
    background-color: #eafff3;
    color: #207d48;
    border-radius: 25px;
    padding: 0.4rem 2rem;
  }
  
  .inactiveStatus {
    display: inline-block;
    background-color: #f6f6f6;
    color: #828282;
    border-radius: 25px;
    padding: 0.4rem 1.65rem;
  }

  .name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .tableIcon {
    margin-right: 0.5rem;
    color: #afafaf;
  }

  .navlink{
    text-decoration: none;
  }


  /* -------------------CreateNewProject.tsx------------------ */

  .projectForm{
    max-height:100vh;
    overflow-y:scroll;
    margin-left: 2rem;
  }


 .navigation{
    display: flex;
    justify-items: center;
    align-items:center;
    gap:1rem;
 }

  .icon{
    color:black;
  }

  .heading{
    text-align: left !important;
    margin-top: 3rem !important;
    margin-left: 3rem !important;
  }

  .formTitle{
    margin-top: 3rem !important;
    display: flex;
    justify-items: center;
    align-items: center;
    gap:1rem;
    margin-left: 3rem !important;
  }

  .upIcon{
    rotate:180deg;
    width:6px;
    height: 6px;
    cursor:pointer;
  }
  .downIcon{
    width:6px;
    height: 6px;
    cursor:pointer;
  }

  .formComponent{
    margin-left: 4rem !important;
  }
  

  /* ----------------- ProjectDetails.tsx--------------------- */

  .required {
    color: #ff0000;
  }

  .details{
    padding: 2rem;
    padding-left: 1rem;
    width:62vw;
    margin-top: 1rem;
  }

  .textInput{
    margin-bottom: 2rem ;
}
.clientTextInput{
    min-width: 20vw !important;
    margin-bottom: 2rem ;
}

.formRow{
    display: flex;
    gap:1rem;
  }

  .radio {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 1rem;
    width: 50vw;
  }

  .teamDetails{
    display: flex;
    gap:1rem;
    width:40vw;
    margin-top: 2rem;
  }

  .navigationButtons{
    display: flex;
    gap:1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  /* --------------------------------ProgressStepper-------------------- */
 .stepperContainer{
  margin-top: 2rem;
 }



 /* --------------------------AssessedEntityDetails------------------- */
 .customInputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #bcbcbc;
  border-radius: 0px;
  background-color: transparent;
  min-width: 20vw !important;
}

.customInput {
  width: 100%;
  padding: 8px 40px 8px 0px;
  border: none;
  outline: none; 
  font-size: 0.8rem;
  background-color: transparent;
}

.searchIconWrapper {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  pointer-events: none; /* This makes the icon not interfere with input clicks */
}

.searchIcon {
  color: #000;
}