.container {
  display: flex;
  height: 70vh;
  background: #f4f5f7;
}
  
.sidebar {
  width: 250px;
  background: #FBFBFB;
  padding: 20px;
  border-right: 1px solid #ddd;
}
  
.sidebarItem {
  border-bottom: 1px solid #E5E5E5;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}
  
.sidebarItem:hover {
  background: #f0f0f0;
}
  
.active {
  color: #DB1F42;
  font-weight: bold;
}
  
.content {
  flex: 1;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
  
.subContent {
  height: 55vh; 
  overflow-y: auto;  
  overflow-x: hidden; 
  padding: 10px;
  border: 1px solid #ccc; 
  background-color: #fff; 
  border-radius: 20px; 
}


.sendForApproval{
  border : 1px solid #000000;
  background-color: #ddd;
  margin-top: 10px;
  border-radius: 30px;
  padding: 5px;
}

.sendForApproval:hover{
  background-color: #d70060;
  color: white;
}

.subContent::-webkit-scrollbar {
  display: none; 
}